:root {
  /* font-family: var(--poppins-light); */
  --secondary: #34c94a;
  --primary: #121212;
  --text: #FFFFFF;

  font-family: "poppins", sans-serif;
  line-height: 1.5;
  font-size: large;
  font-weight: 400;
  font-style: normal;
  /* font-weight: 400; */

  background-color: var(--primary);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
 
}