:root {
  --color-primary: #34C94B;
  --color-secondary: #121212;
  --color-black: black;
  --color-light-black: #050505
  --color-white: #FFFFFF;
  --color-text: #FFFFFF;
  --fw-bold: 600;
  --fw-light: 200;
  --fw-regular: 400;
  --card-height: 170px;
  --card-full-height: 255px;
  --card-width: 159px;
  /* diff=85 . Eventually, something like below. */
  /* --card-height: 107px;
  --card-full-height: 161px;
  --card-width: 100px; */

  line-height: 1.5;

  background-color: var(--color-secondary);
  color: var(--color-text);
  /* color: (white); */
  -webkit-font-smoothing: antialiased;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: var(--fw-regular);
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


.swiper {
  padding-right: 1rem;
  padding-left: 1rem;
}


.swiper-slide {
  border-radius: 2rem;
  /* text-align: center; */
  font-size: 14px;
  background: var(--color-secondary);

  width: var(--card-width);
  height: var(--card-full-height);
}

.swiper-button-prev {
  background-image: url('./assets/left_nav.svg');
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  /* color: transparent; */
  background-color: var(--color-text);
  border-radius: 50%;
  right: auto;
  left: 0;
  position: absolute;
  border: 0;
}

.swiper-button-next {
  background-image: url('./assets/right_nav.svg');
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  /* color: transparent; */
  background-color: var(--color-text);
  border-radius: 50%;
  right: 0;
  left: auto;
  position: absolute;
  border: 0;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-button-prev.swiper-button-disabled {
  display: none;
}