.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), auto));
    grid-gap: 40px;
    /* justify-content: space-between; */

    /* Space between the cards */
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid-item {
    flex: 1 1 auto;
}

.section-container {
    background-color: var(--color-secondary);
    color: var(--color-text);
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.container {
    padding: 1rem;
    margin:0;
}

.justify-center {
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
}

.gap-2 {
    gap: 2rem;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.flex-item {
    flex: 0 0 auto;
}

