.hero {
    background-color: var(--color-secondary);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    color: white;
    gap: 30px;
  }
  
.hero h1 {
  font-weight: var(--fw-bold);
  font-size: 2rem;
}